{% extends "newsFeed/base.html" %}
 
{% block title %}{{ post.title }}{% endblock %} 
{% block pageName %}О КОМПАНИИ{% endblock %}

{% block content %} 
    <p>Мы — это сеть европейских кулинарий с большой историей и собственными кулинарными
      традициями. Каждый день, на протяжении десяти лет, мы воплощаем в жизнь классические рецепты кухонь Европы
      и изобретаем авторские блюда, хранящие тепло рук наших мастеров.</p>
    <p>Наша безусловная классика – это свежие отборные продукты, прошедшие строгий контроль качества.
        Наши инновации – современное оснащение, отлаженное по последнему слову техники.
    </p>
    <p>Наша гордость – опытные, любящие свое дело люди, настоящие мастера кулинарного,
        кондитерского и пекарского искусства с добрыми сердцами.</p>
    <p>Мы - для бодрого завтрака, быстрого и сытного обеда, для вкусных по-домашнему ужинов на
        вынос, для пиршества сладкоежек. Для тех, кто ценит свое время и из самого лучшего выбирает особенное.</p>

{% endblock %}